extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Harrison Peace
        p Full Stack JavaScript Developer
        .about-bio
          p A (Junior) Full Stack Developer with 12 months of study in HTML, CSS, JavaScript, Bootstrap, React, Node.js and Express. 5 years’ experience in hospitality and retail management, with 2 of those managing my own businesses. 1-year experience in managing an online store (shopify). <br><br> I am currently seeking any opportunities, in a junior development role and can be reached here on LinkedIn or at mrpeace@harrisonpeace.com

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li basic adobe suite

        h6 Contact Info
        ul
          li mrpeace@harrisonpeace.com

        a.btn-link(href='https://www.linkedin.com/in/harrison-peace') LinkedIn
        a.btn-link(href='https://github.com/HarrisonPeace') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back