extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p Welcome. I am currently studying to become a full stack developer and I’ve built this site to help showcase my work.
    p I currently own two restaurants <a href="www.thevalebarandeatery.com" target="_blank">The Vale Bar &amp; Eatery</a> &amp; <a href="www.rascalbrunswick.com" target="_blank">Rascal Brunswick</a>, am completing a wood working course and learning and exploring as much as I can. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/img/${project.image_urls[0]}`, alt=`Screen shot image of ${project.id}`)
            h5= `${project.project_name}`

