<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body(onload=`changeDisplayStyle('${displayStyle}')`)
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/profile.jpg', alt='Profile image of Harrison Peace')
        .dev-intro-box
          h5 Harrison Peace
          p DEVELOPER | RESTAURATEUR | EXPLORER
          a(href='/about') Learn More &rarr;
          form#display-style-form(action=`${styleDisplayLocation}` method="post")
            button#display-style-button(type="submit" name="displayStyleButton")

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Harrison Peace

      block content

  script(src='/static/js/script.js')